<ion-view view-title="AddEvent">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-close-round" menu-toggle="right"
                ng-click="close()"></button>
    </ion-nav-buttons>
    <ion-content>
        <form ng-submit="addEvent()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">קוד אירוע</span>
                    <input type="text" ng-model="eventData.Id">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">הוסף אירוע</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
